/* section1 */
.section1 {
  background-color: #fff;
  color: #000;
  display: flex;
  padding: 0 220px;
  height: 100vh;
}
.section1_left {
  width: 30%;
}
.section1_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.section_right_txt {
  font-size: 34px;
  font-weight: 700;
}
.section_right_context {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
}
.section_right_context span{
  font-weight: 900;
}
.section_right_context div {
  flex: 1;
}
.section1_right hr {
  width: 100%;
  margin: 50px 0;
}
/* section2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
}
.section2_txt,
.section2_txt2 {
  color: #fff;
  font-size: 200px;
  font-weight: bold;
  line-height: 250px;
}

.section2_video {
  position: absolute;
}

/* section3 */
.section3{
  background-color: #3a4750;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 80px;
  background-image: url("src/assets/img/main.jpg");
  background-size: cover;
}
.section3_title {
  padding: 50px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.section3_title span{
  font-size: 26px;
  font-weight: 400;
}
.section4{
  background-color: #040822;
  color: #fff;
  display: flex;
  height: 100vh;
}
.store, .record, .my{
  flex: 1;
  font-size: 20px;
  margin: 80px 30px;
  background-color: #d0dced;
  border-radius: 20px;
  padding: 30px;
  color: #000;
}