.container {
  /* padding-top: 100px; */
  overflow-x: hidden;
  z-index: 1000;
}
.main {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  padding: 0 220px;
  min-height: 100vh;
}
.main_txt {
  padding-top: 210px;
  text-align: center;
  font-size: 50px;
  line-height: 90px;
  font-family: 'PartialSansKR-Regular';
}
.main_txt span {
  color: #defe52;
  font-size: 70px;
}
.main_img{
  width: 20vw;
  position: absolute;
  left: 20%;
  top: 40%;
  display: flex;
}
.go_about {
  position: absolute;
  width: 200px;
  height: 85px;
  border-radius: 20px;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top :80%;
  left: 45%;
  cursor: pointer;
  font-weight: 900;
  font-size: 22px;
  z-index: 100;
}
.down{
  position: absolute;
  top:-100%;
  font-size: px;
  color: #fff;
  z-index: 100;
}
.go_about:hover{
  background-color: #defe52;
  color:#000;
  font-size: 25px;
  border:none;
}
.hr {
  width: 100%;
}