.duck {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
  height: auto;
}
.video {
  width: 100%; /* 가로 너비를 100%로 설정하여 화면에 딱 맞게 표시 */
  overflow-y: hidden;
}