.mainPageContainer{
  width: 100%;
  height: 100%;
}
.duck {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%; /* 이미지의 너비 설정 */
  height: auto; /* 이미지의 높이 자동으로 조정 */
}

.videoBackground{
  width: 100%; 
  height: 100%;
  object-fit: cover; /* 비디오를 화면에 맞추어 표시 */
  object-position: center top; /* 화면 중앙 상단에 비디오 위치 */
  position: fixed; /* 스크롤 생성 방지 */
}
.textContainer {
  position: fixed;
  bottom: 10px; /* 화면 아래에서 10px 떨어진 위치 */
  right: 10px; /* 화면 오른쪽에서 10px 떨어진 위치 */
  transform: translate(0, 0); /* 기존의 가운데 위치로 변경 */
  height: auto;
}

@media (max-width: 768px) {
  .textContainer {
    bottom: 10px; /* 작은 화면에서도 아래로 10px 떨어진 위치로 유지 */
    right: 10px; /* 작은 화면에서도 오른쪽으로 10px 떨어진 위치로 유지 */
  }
}




.text {
  text-align: center;
}

.title {
  font-size: calc(35px + 1vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.subtitle {
  font-size: calc(4px + 1.4vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: semi-bold;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
