.modalContainer {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 0px;
  color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); /* 그림자 효과 추가 */
  width: 800px;
  height: 600px;
}
.modalTitle {
  text-align: center;
  font-size: 18px;
  width: 200px;
}
.formGroup {
  border-bottom: 1px solid black;
  /* background-color: blue; */
  display: flex;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.nicknameWrab{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.inputWrab{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.inputWrab2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}
.nickText{
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}
.messageWrap{
  height:0px;
}
.error{
  text-align: center;
  margin: 5px;
  color: red;
}
.message {
  margin: 5px;
  text-align: center;
}
.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  /* margin: 20px; */
  transition: border-color 0.2s ease-in-out; 
}
.inputField:focus {
  /* border-color: #007BFF;  */
}
.buttonWrab{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30Px;
  position: absolute;
  right: 10px;
}
.checkButton {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.submitButton{
  background-color: #2DB400;
  color: #fff;
  border: 1px solid #2DB400;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
}
.completeButton{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
}
.cancelButton{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
}
.delete {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: gray;
  text-decoration: underline;
}
