.buyListBox {
  width: 100%;
  padding: 50px 50px 30px 30px;
  min-height: 100vh;
}

/* 전체 구입 횟수 */
.buyCount{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding : 30px 50px;
}
.buyCount_txt{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}
.count{
  display: flex;
  justify-content: space-between;
}
.count a{
  color: #000;
  font-size: 16px;
}
.buyCount_count{
  font-size: 20px;
}
.buyCount_count span{
  font-weight: 900;
  color: #ed5808;
  text-decoration: underline;
}

.buyListText{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
.purchaseTable {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding : 30px 50px;
}
.table{
  table-layout: fixed; 
}
.table th:nth-child(1) {
  width: 10%;
}
.table th:nth-child(2) {
  width: 10%;
}
.table th:nth-child(3) {
  width: 15%;
}
.table th:nth-child(4) {
  width: 10%;
}
.table th:nth-child(5) {
  width: 10%;
}
.table th:nth-child(6) {
  width: 10%;
}

.purchaseTable th,
.purchaseTable td {
  padding: 20px 13px;
  text-align: center; 
  font-size: 16px;
  border-bottom: 1px solid black;
  word-break: keep-all;
}

.purchaseTable th {
  font-weight: 900;
  border-bottom: 2px solid black;
}
th span{
  font-size: 13px;
}
.totalPrice {
  font-size: 22px !important;
  text-align: end !important;
  font-weight: 900;
  border-bottom: none !important;
  padding-right: 30px !important;
}

/* 페이지 확인 위해 일단 넣어둔 곳입니다 이것도 수정 할 예정 */
.page a{
  color: black;
}