.modalContainer {
  background-color: #FCFAD2;
  border-radius: 1.5rem;
  padding: 20px;
  color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); /* 그림자 효과 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
}
.modalTitle {
  text-align: center;
}
.nickText{
  font-size: 20px;
  font-weight: bold;
}
.formGroup {
  margin: 10px;
}
.error{
  text-align: center;
  margin: 5px;
  color: red;
}
.message {
  text-align: center;
}
.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  margin-right: 20px;
  transition: border-color 0.2s ease-in-out; 
}
.inputField:focus {
  border-color: #007BFF; 
}
.checkButton {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
}
.submitButton{
  background-color: #2DB400;
  color: #fff;
  border: 1px solid #2DB400;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
}
.cancelButton{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
}