.profileContainer {
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.profileImage {

  width: 25vh;
  height: auto;
  margin-right: 2vh;
}

.nickName{
  font-size: 60px;
  font-weight: bold;
}

.feel{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}