/* SellDetailList.module.css */
.container {
  margin-left: 300px;
  background-color: #fbfbf7;
  color: #000;
  min-height: 100vh;
}
/* Styles for the container div */
.sellDetailTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Styles for the table */
.sellDetailTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

/* Styles for table headers */
.sellDetailTable th {
  text-align: left;
  padding: 8px;
}

/* Styles for table data rows */
.sellDetailTable td {
  border: 1px solid #ddd;
  padding: 8px;
}
