.sellListBoxContainer {
  width: 100%;
  flex-direction: row;
}

.sellListBoxTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.sellList {
  display: flex;
  flex-wrap: wrap; /* 가로로 나열하고 넘칠 경우 줄바꿈 */
  gap: 20px; /* 각 목록 아이템 간의 간격 설정 */
  border: 2px solid #52057B;
  border-radius: 2.5rem;
}

.sellListItem {
  width: calc(33.33% - 20px); /* 3개의 아이템이 가로로 나열되도록 설정 */
  padding: 10px;
  border: 1px solid #52057B;
  background-color: #000;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;

}

.sellListItem img {
  width: 100px;
  height: 100px;
  object-fit: cover; 
  border-radius: 2.5rem;
  }
.itemText{
  width: 100%;
}

.sellItem{
  border: 2px solid #fff;
}
.productImage{
  width: 70px;
  height: auto;
}