.sellDetailContainer {
  background-color: #fbfbf7;
  width: 100%;
  min-height: 100vh;
  color: #000;
}
.big {
  padding: 50px 50px 30px 30px;
  margin-left: 300px;
  background-color: #fbfbf7;
  height: 100%;
}

.container {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}
.pimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.title {
  font-size: 24px;
  word-break: keep-all;
  font-weight: 900;
  line-height: 40px;
  margin-top: 30px;
}
.mood {
  display: inline-block;
  color: #777;
  font-size: 18px;
}
.summary {
  width: 100%;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #777;
  height: 80px;
}
.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.mid {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.midTop{
  display: flex;
  flex-direction: column;
}
.right {
  width: 30%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn{
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn div {
  /* background-color: #ed5808; */
  color: #000;
  cursor: pointer;
  font-size: 40px;
}
.price {
  font-weight: 900;
}
.pricetxt{
  font-size: 20px;
}
.one {
  font-size: 18px;
}
.txt {
  font-size: 13px;
}
.editprice{
  width: 100px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  padding: 5px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
  border-radius: 4px; /* 테두리 모서리 둥글게 설정 */
  font-size: 40px; /* 폰트 크기 설정 */
  outline: none;
}
.edittitle{
  height: 60px; /* 높이 설정 */
  padding: 5px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
  border-radius: 4px; /* 테두리 모서리 둥글게 설정 */
  font-size: 24px; /* 폰트 크기 설정 */
  outline: none;
  font-weight: 900;
}
.editsummary {
  width: 400px;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid transparent;
  height: 120px;
}