.sellDetailContainer {
  background-color: #fbfbf7;
  width: 100%;
  min-height: 100vh;
  color: #000;
}
.big {
  padding: 50px 50px 30px 30px;
  margin-left: 300px;
  background-color: #fbfbf7;
  height: 100%;
}

.container {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}
.pimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.mood {
  display: inline-block;
  color: #777;
  font-size: 18px;
}

.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.mid {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.midTop{
  display: flex;
  flex-direction: column;
}
.right {
  width: 30%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn{
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn div {
  /* background-color: #ed5808; */
  color: #000;
  cursor: pointer;
  font-size: 40px;
}
.one {
  font-size: 18px;
}
.txt {
  font-size: 13px;
  color: gray;
}


.title {
  font-size: 24px;
  word-break: keep-all;
  font-weight: 900;
  line-height: 40px;
  margin-top: 30px;
  width: 500px;
}

.edittitle{
  height: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 24px;
  outline: none;
  font-weight: 900;
  width: 100%;

}

.editsummary {
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  border: none;
  height: 100%;
  background-color: transparent;
}


.summary {
  width: 100%;
  background-color: #fff;
  box-shadow:
  rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #777;
  height: 150px;
}





.price {
  font-weight: 900;
}
.pricetxt{
  font-size: 20px;
}
.editprice {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 2px solid #000; 
  border-radius: 1.5rem;
  font-size: 20px;
  outline: none;
  text-align: right;
}