.allContainer {
  width: 100%;
}
.sellChartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.sellChartBox {
  border: 1px solid black;
  margin-bottom: 5vh;
}
.sellAndLikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.totalSales,
.productLikes {
  font-size: 36px; /* 숫자 크기 조정 */
  font-weight: bold; /* 숫자 굵게 표시 */
  margin-bottom: 10px; /* 숫자와 제목 간격 조정 */
}

.productLikes {
  font-size: 18px; /* 제목 크기 조정 */
  color: #888; /* 제목 색상 변경 (예: 회색) */
}
