.UseVoiceContainer {
  border: 1px solid black;
  margin-bottom: 5vh;
}
.textBox {
  font-size: 60px;
  font-weight: bold;
}
/* UseVoiceBox.module.css */

.UseVoiceContainer {
  flex-direction: column;
  
}

.textBox {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.voiceItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 2.5rem;
}

.voiceItem {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.moodHashtag {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.playButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.playButton:hover {
  background-color: #0056b3;
}
