.UseVoiceContainer {
  width: 100%;
  padding: 50px 50px 30px 30px;
  min-height: 100vh;  
}

.useCount{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding : 30px 50px;
}
.useCount_txt{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}
.count{
  display: flex;
  justify-content: space-between;
}
.count a{
  color: #000;
  font-size: 16px;
}
.useCount_count{
  font-size: 20px;
}
.useCount_count span{
  font-weight: 900;
  color: #ed5808;
  text-decoration: underline;
}

.voiceItems {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  padding : 30px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.voiceItem {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.moodHashtag {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.playButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.playButton:hover {
  background-color: #0056b3;
}

