.myPageContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  background-color: #fbfbf7;
  color: #000;
  min-height: 100vh;
}
.section1{
  display: flex;
  justify-content: space-between;
}
.hi{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  background-color: #fff;
  width: 35vw;
  height: 200px;
  padding: 30px 50px;
}
.hi_1, .hi_2{
  font-size: 24px;
  font-weight: 900;
}
.hi_2{
  text-decoration: underline;
  text-decoration-color: #ed5808;
}
.hi_3{
  font-size: 16px;
  line-height: 25px;
  padding-top: 10px;
}
.myPageBox {
  display: block;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  margin-left: 300px;
  padding: 50px 50px 30px 30px;
}
.likesContainer {
  margin-bottom: 30px;
}
.yourVoiceContainer {
  margin-bottom: 30px;
}
