.myPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.myPageBox {
  display: block;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  margin-left: 240px;
  border-radius: 1.5rem;
  /* color: #defe52; */
  padding: 30px;
}
.likesContainer {
  margin-bottom: 30px;
}
.yourVoiceContainer {
  margin-bottom: 30px;
}
