.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.text_now{
  font-size: 20px;
  font-weight: 900;
}
.text_next {
  color: gray;
  padding-top: 10px;
}

.hr {
  border: 2px solid #fff;
  width: 100%;
  margin: 20px 0px;
}

.btn {
  display: flex;
  justify-content: space-between;
}
.record2, .next{
  line-height: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
.record2:hover, .next:hover{
  cursor: pointer;
}
.nextDisabled{
  line-height: 50px;
  height: 50px;
  border: 3px solid #777; /* 비활성화 상태를 표현하기 위해 경계선 색상 변경 */
  border-radius:10px;
	width: 200px;
	text-align:center;
	font-size: 18px;
	font-weight: 900;	
	background-color:#ccc; /* 비활성화 상태를 표현하기 위해 배경색 변경 */
	color:#999; /* 비활성화 상태를 표현하기 위해 글자색 변경 */
	pointer-events:none; /* 마우스 이벤트 차단 */
}