.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 20px;
}
.text_now, .text_next{
  font-size: 20px;
}
.text_next {
  color: gray;
  padding-top: 10px;
}

.hr {
  height: 2px;
  width: 100%;
  margin: 20px 0px;
}

.btn {
  display: flex;
  justify-content: space-between;
}
.record2, .next{
  line-height: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.record2:hover, .next:hover{
  cursor: pointer;
}