.Text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainText{
  font-size: 40px;
  font-weight: bold;
  padding: 40px 40px 20px;
  letter-spacing: 5px;
}
.RecordText{
  font-size: 18px;
  padding-bottom: 40px;
}
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.Btn_record, .Btn_stop, .Btn_play{
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 70px;
  background-color: #BC7AF9;
  color: white;
  border: 8px solid #fff;
  border-radius: 50%;
}
.Btn_record:hover , .Btn_stop:hover, .Btn_play:hover{
  cursor: pointer;
}