.Text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainText{
  font-size: 43px;
  font-weight: 900;
  padding: 20px 40px 10px;
  background-image: linear-gradient(to right, #defe52, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'SEBANG_Gothic_Bold';

}
.RecordText{
  font-size: 24px;
  padding-bottom: 40px;
  font-weight: 900;
}
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 50px 0px;
}
.Btn_record, .Btn_play{
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 55px;
  background-color: #defe52;
  color: #2f2f2b;
  border: 8px solid #fff;
  border-radius: 50%;
  text-align: center;
}
.Btn_play{
  padding-left: 15px;
  font-size: 60px;
}
.Btn_record:hover , .Btn_stop:hover, .Btn_play:hover{
  cursor: pointer;
}
.Btn_stop {
  /* 기존 스타일 유지 */
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 60px;
  background-color: #defe52;
  color: #2f2f2b;
  border: 8px solid #defe52;
  border-radius:50%;
  text-align: center;

  
   /* 중앙 정렬 */
  display:flex; 
  justify-content:center; 
  align-items:center;

  /* 추가적인 스타일 */
  position:relative;

}

.Btn_stop::before {
  content:"";
  position:absolute;
  top:-8%; left:-8%; right:-8%; bottom:-8%;

  border-radius:50%;
  background-image: radial-gradient(circle, #defe52, #f7f875, #fefec2, #fff);

  /* 애니메이션 추가 */
  animation-name:pulseEffect;
  animation-duration:1.2s; 
  animation-iteration-count : infinite; 
  animation-timing-function : linear;
  z-index:-1;
}

@keyframes pulseEffect {
	0% { transform : scale(1);}
	50% { transform : scale(1.5); opacity : .4;}
	100% { transform : scale(1); opacity: .9;}
}
