.alert {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border: none;
  position: relative;
}
.alert svg{
  cursor: pointer;
}
.alertNum {
  position: absolute;
  top: 2px;
  right: 10px;
  background-color: #ed5808;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}
.alertPopup {
  position: absolute;
  bottom: -100%;
  top: 55px;
  left: -300px;
  width: 400px;
}

.content {
  overflow-y: scroll;
  border: 1px solid white;
  padding: 10px;
  background-color: #f5f6f8;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 60;
  max-height: 70vh;
  width: 30vw;
  margin: 20px;
}

.box{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 20px;
  line-height: 30px;
  cursor: pointer;
}
.text{
  font-size: 18px;
  color: #080808;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: -5px;
}

.aboutLink {
  color: black !important;
}