.logout {
  font-family: 'S-CoreDream-4Regular';
  font-size: 20px;
  color: #000;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
