.container {
  margin-top: 40px;
  background-color: transparent;
  width: 100%;

}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;

}
.nav {
  display: flex;
  padding-left: 10px;
}

.nav a:not(:last-child) {
  margin-right:20px; 
}

.btn {
  display: none;
}


/* Add this for responsive design */
@media (max-width: 768px) {
  .container {
      flex-direction: column; 
  }

  .nav{
    display :none; 
  }
  .btn {
    display: block;
  }
}
