.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  color: black;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}
