.sidebar {
  background-image: linear-gradient(-20deg, #FCFAE8 0%, #fbfcdb 100%); 
  width: 300px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  position: fixed;
  padding-top: 50px;
}

.sidebarlist {
  margin-top: 50px;
  width: 100%;
  
}
.main a{
  font-size: 35px !important;
}

.sidebar a {
  padding: 10px 0px;
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sidebar a.active {
  border-radius: 20px;
  color: #ed5808;
  background-color: #fff;
  background-repeat: no-repeat;
  width: 260px;
  margin-left: 20px;
}
