.sidebar {
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

.sidebar-header {
    margin-bottom: 20px;
}

.sidebar h2 {
    margin: 0;
    font-size: 1.5rem;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 1.2rem;
}
