@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  /* background-color: #000; */
  color: #EEEEEE;
  font-family: 'S-CoreDream-3Light', 'S-CoreDream-4Regular', 'S-CoreDream-6Bold', 'S-CoreDream-9Black';
}
a {
  text-decoration-line: none;
  color: #EEEEEE;
}

* {
  box-sizing: border-box;
}
/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 11px; /* 스크롤바 너비 */
}

/* 스크롤바 트랙 스타일링 */
::-webkit-scrollbar-track {
  background-color: #c1bcbc; /* 트랙 배경색 */
  border-radius: 5px; /* 트랙의 모서리 둥글게 */
}

/* 스크롤바 핸들(썸) 스타일링 */
::-webkit-scrollbar-thumb {
  background-color: #888; /* 핸들 색상 */
  border-radius: 5px; /* 핸들의 모서리 둥글게 */
}

/* 스크롤바 핸들을 클릭했을 때의 스타일링 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 핸들 호버 시 색상 변경 */
}

/* 스크롤바를 드래그할 때의 스타일링 */
::-webkit-scrollbar-thumb:active {
  background-color: #333; /* 핸들 클릭 시 색상 변경 */
}
