.buyCountBox{
    display: flex;
    justify-content: center;
    width: 100%;
}
.countText{
    font-size: 60px;
    text-align: center;
    margin: 10px;
}
.textText{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}