.buyListBox {
  width: 100%;
  overflow-x: auto; /* 가로 스크롤을 표시하도록 설정 */
  margin-top: 20px;
}
.buyListText{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.purchaseTable {
  width: 100%;
  /* border-collapse: collapse; */
  table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
  border: 2px solid #BC6FF1;
  border-radius: 2.5rem;
}

.purchaseTable th,
.purchaseTable td {
  padding: 8px; /* 셀 안의 여백 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 20px;
}

.purchaseTable th {
  background-color: transparent; /* 테이블 헤더 배경색 설정 */
  font-weight: bold; /* 테이블 헤더 텍스트 굵게 설정 */
}

.buyListBox::-webkit-scrollbar {
  height: 10px; /* 수직 스크롤바 높이 설정 */
}

.buyListBox::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 설정 */
}

.buyListBox::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* 스크롤바 트랙 색상 설정 */
}
.totalLabel {
  text-align: end !important;
  font-size: 28px;
}
.totalAmount {
  font-size: 28px;
}
