.container {
  background-color: #3A4750;
  margin-left: -220px;
  margin-right: -220px;
  padding: 30px 0px;
  box-sizing :border-box;
  height: 350px;
  overflow: hidden;
}
.FavText{
  margin: 0px 220px;
  padding: 0;
  color: #fff;
}

.cards{
  margin: 0px 220px;
  display:flex;
  border: 1px solid black;
}

.card{
  border: 1px solid black;
  color: #fff;
  width :calc(50% -10px);  
  border-radius :10px;  
  padding :20px;  
  box-sizing:border-box ;   
  overflow: hidden;
  width: 200px;
  height: 280px;
}
.pimg{
  width: 150px;
  height: 200px;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
