.container {
  background-color: #fff;
  margin-left: -220px;
  margin-right: -220px;
  margin-top: -100px;
  height: 450px;
  display: flex;
  background-image:
  linear-gradient(to bottom, #000000c6 50%, rgba(0, 112, 211, 0.142)),
  linear-gradient(to right, #000 40%, rgba(0, 112, 211, 0.142)),
    url("src/assets/img/market.jpeg");
  background-size: cover; 
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 180px;
}
.text{
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 50px;
  line-height: 70px;
  font-weight: 900;
  font-family: 'SEBANG_Gothic_Bold';
  color: #ddd;
}
.text span{
  color: #d0dced;
}
.english, .english2{
  font-family: 'TAEBAEKmilkyway';
  font-size: 26px;
  padding-left: 20px;
  color: #ddd;
  text-decoration: underline;
  font-style: italic;
}
.english2{
  padding-top: 3px;
  padding-left: 60px;
}
