.filter {
  margin: 0 -220px;
  padding: 20px 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.search{
  display: flex;
  align-items: center;
}
.searchbar{
  height: 50px;
  width: 50vw;
  border-radius: 4px;
  border: 0.8px solid #ddd;
  font-size: 16px;
  padding: 10px;
  font-family: 'S-CoreDream-4Regular';
  margin-left: 30px;
}
.searchbar:focus{
  outline: none;
}
