.container{
  padding-top: 100px;
  margin-left: 220px;
  margin-right: 220px;
}
.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
  border-radius:15px;
}
.contain hr{
  width: 50vw;
  margin: 20px 0;
}
.txt{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
  color: #000;
  background-color: #dee2e6;
  padding: 40px;
  border-radius: 15px;
}
.text{
  font-size: 30px;
  font-weight: 900;
}
.sidetext{
  font-weight: 400;
  font-size: 20px;
}
.img{
  width: 500px;
  height: 300px;
  filter: drop-shadow(10px 6px 6px #c3c3c3);
}
/* .percent{
  font-size: 25px;
  color: #defe52;
  font-weight: 900;
} */